
= simple_form_for @entry do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
      %ul
        - @entry.errors.full_messages.each do |msg|
          %li= msg

  = f.association :black_card, :input_html => { class: 'chzn-select' }
  = f.association :white_cards, :input_html => { class: 'chzn-select' }
  .actions
    = f.submit 'Save'

%p <strong>Our card list is full of holes.</strong> If you want to submit a combo but the card is missing please <em>send a photo</em> of the black/white cards to: <a href="mailto:vosechu+cahw@gmail.com">vosechu+cahw@gmail.com</a>. You can also submit a pull request here: <a href="https://github.com/portlandcodeschool/humanitywar-rails">Github repo</a>