= form_for @entry do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
      %ul
        - @entry.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :playa
    = f.text_field :playa
  .field
    = f.label :white_card
    = f.text_field :white_card
  .field
    = f.label :black_card
    = f.text_field :black_card
  .field
    = f.label :wins
    = f.number_field :wins
  .field
    = f.label :loses
    = f.number_field :loses
  .field
    = f.label :draws
    = f.number_field :draws
  .actions
    = f.submit 'Save'
