.entries.cf
  %a{href: '#', id: "entry-#{@entries[0].id}", :'data-lose_id' => @entries[1].id}
    .entry
      .black-card
        = @entries[0].black_card
        .icon
          Cards Against Humanity
      - @entries[0].white_cards.each do |card|
        .white-card
          = card
          .icon
            Cards Against Humanity

  .vs
    VS!
    %br
    %br
    %br
    %a{href: '#'}
      %i.icon-refresh

  %a{href: '#', id: "entry-#{@entries[1].id}", :'data-lose_id' => @entries[0].id}
    .entry
      .black-card
        = @entries[1].black_card
        .icon
          Cards Against Humanity
      - @entries[1].white_cards.each do |card|
        .white-card
          = card
          .icon
            Cards Against Humanity

- if @small_entries
  .small-entries.cf
    .third
      %a{href: "/entries/#{@small_entries[:last_win_id].id}", class: 'cf'}
        .entry
          %h2 Your choice
          .black-card
            = @small_entries[:last_win_id].black_card
          - @small_entries[:last_win_id].white_cards.each do |card|
            .white-card
              = card
      %ul
        %li Wins: #{@small_entries[:last_win_id].wins || 0}
        %li Loses: #{@small_entries[:last_win_id].loses || 0}
        %li Draws: #{@small_entries[:last_win_id].draws || 0}

    .third
      %a{href: "/entries/#{@small_entries[:last_lose_id].id}", class: 'cf'}
        .entry
          %h2 Not your choice
          .black-card
            = @small_entries[:last_lose_id].black_card
          - @small_entries[:last_lose_id].white_cards.each do |card|
            .white-card
              = card
      %ul
        %li Wins: #{@small_entries[:last_lose_id].wins || 0}
        %li Loses: #{@small_entries[:last_lose_id].loses || 0}
        %li Draws: #{@small_entries[:last_lose_id].draws || 0}
