.wrapper
  %h1
    Cards Against Humanity War
    %a{href: '#', class: 'refresh'}
      %i.icon-refresh

  .entries.cf
    %a{href: '#', id: "entry-#{@entries[0].id}", :'data-lose_id' => @entries[1].id}
      .entry
        .black-card
          = @entries[0].black_card
          .icon
            Cards Against Humanity
        .white-card
          = @entries[0].white_card
          .icon
            Cards Against Humanity

    .vs
      VS!

    %a{href: '#', id: "entry-#{@entries[1].id}", :'data-lose_id' => @entries[0].id}
      .entry
        .black-card
          = @entries[1].black_card
          .icon
            Cards Against Humanity
        .white-card
          = @entries[1].white_card
          .icon
            Cards Against Humanity

  - if !params[:easy_mode]
    %a{href: '/?easy_mode=true', class: 'easy-mode'} Try out easy mode
  - else
    %a{href: '/', class: 'easy-mode'} Turn off easy mode