<div class="lists">
  <h1>Losingest Entries</h1>

  <!-- print out number of losses (misspelled in db), bc text and wc text -->
  <div class="small-entries">
    <% @entry.each do |e| %>
    <div class="cf">
      <h2>Losses: <%= e.loses %></h2>
      <div class="black-card"><%= e.black_card %></div>
      <div class="white-card"><%= e.white_card %></div>
    </div>
    <% end %>

  </div>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @entry %>
    </div>
    <%= will_paginate @entry, :container => false %>
  </div>

</div>
