%p#notice= notice

%p
  %b Playa:
  = @entry.playa
%p
  %b White card:
  = @entry.white_cards
%p
  %b Black card:
  = @entry.black_card
%p
  %b Wins:
  = @entry.wins
%p
  %b Loses:
  = @entry.loses
%p
  %b Draws:
  = @entry.draws
