%h1 Listing playas

%table
  %tr
    %th Email
    %th
    %th
    %th

  - @playas.each do |playa|
    %tr
      %td= playa.email
      %td= link_to 'Show', playa
      %td= link_to 'Edit', edit_playa_path(playa)
      %td= link_to 'Destroy', playa, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Playa', new_playa_path
