%h1 Listing white_cards

%table
  %tr
    %th Text
    %th
    %th
    %th

  - @white_cards.each do |white_card|
    %tr
      %td= white_card.text
      %td= link_to 'Show', white_card
      %td= link_to 'Edit', edit_white_card_path(white_card)
      %td= link_to 'Destroy', white_card, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New White card', new_white_card_path
